<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Models-->
  
    <!-- Services -->
    <typeAlias alias="IPerson" type="EFMvcFrame.Interface.IPerson, EFMvcFrame.Interface" />
    <!-- Repositories -->
    <typeAlias alias="IDatabaseFactory" type="EFMvcFrame.Data.Infrastructure.IDatabaseFactory, EFMvcFrame.Data" />
    <typeAlias alias="IUnitOfWork" type="EFMvcFrame.Data.Infrastructure.IUnitOfWork, EFMvcFrame.Data" />
    <typeAlias alias="IPersonRepostory" type="EFMvcFrame.Data.IPersonRepostory, EFMvcFrame.Data" />
    <typeAlias alias="ICacheProvider" type="EFMvcFrame.FrameWork.Caching.ICacheProvider,EFMvcFrame.FrameWork"></typeAlias>    
  </typeAliases>
  <container>    
    <register type="IDatabaseFactory" mapTo="EFMvcFrame.Data.Infrastructure.DatabaseFactory,EFMvcFrame.Data" >
      <lifetime type="singleton"/>
    </register>
    <register type="ICacheProvider" mapTo="EFMvcFrame.FrameWork.Caching.CacheProvider,EFMvcFrame.FrameWork">
      <lifetime type="singleton"></lifetime>
    </register>
    <register type="IUnitOfWork" mapTo="EFMvcFrame.Data.Infrastructure.UnityOfWork,EFMvcFrame.Data"></register>
    <register type="IPersonRepostory" mapTo="EFMvcFrame.Data.PersonRepostory,EFMvcFrame.Data"></register>
    <register type="IPerson" mapTo="EFMvcFrame.Service.PersonService, EFMvcFrame.Service"></register>    
  </container>
</unity>